<h2>Saved favorites:</h2>
<ol>
  {{#each saveQuestion.questions as |question|}}
    {{#link-to 'question' question.id}}<h4>- {{question.content}} is one of your favorites.</h4>{{/link-to}}
  {{/each}}
</ol>
