<div class="well">
  <li>
    {{#link-to 'question' question.id}}
    <h2>{{question-popularity question}} Question: {{question.content}}</h2>{{/link-to}}
    <h4>by: {{question.author}} </h4>
    <button {{action 'addToFavorites' question}}>Add to favorites</button>
  </li>
</div>
