<div class="well">
  <li>
    {{question-popularity question}}
    {{#link-to 'question' question.id}}
    Question: {{question.content}} {{/link-to}}<br>
    by: {{question.author}} <br>
  </li>
</div>
