<div class= "container">
  <header class= "jumbotron">
  <h2>Inquir-o-sity a site for curious minds</h2>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}}
  </footer>
</div>
