<div class= "container">
  <header class= "jumbotron">
  <h1>Inquir-o-sity</h1>
  <h4>a site for curious minds...</h4>
  {{#link-to 'index'}}Home{{/link-to}}
</header>
  <div class="container">
    {{outlet}}
  </div>
  <footer>
    <div class ="container">
      <h5>Inquir-o-sity is not responsible for any damage or injuries as a result of the answers or questions on this site. </h5>
    </div>
  </footer>
</div>
